    body{
        /* margin: 10%; */
        height: 2800px;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url("workinprogress.jpeg");

    }

    .modifP{
      color: green;
    }

    .flex-container{
      display: flex;
      justify-content: center;

      }

      footer{
        height: 250px;
        
        bottom: 0;
        position: absolute;
      }

      .another{
        height: 300px;
        width: 30vw;
      }

      h1{
        display: flex;
        justify-content: center;
        font-size: 2em;
        color: red;
      }

      p{
        font-size: 1.5rem;
      }
    /* .another{
      height: 300px;
      width: 150px;
    } */
