<!DOCTYPE html>
<html>
<head>

  <style>
    body{
        /* margin: 10%; */
        padding: 0;
        border: 0;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url("workinprogress.jpeg");
    }



    .container{
      min-height: 1400px;
      min-width: 80%;
      text-align: center;
      margin: 0 auto;
      padding: 0 auto;
      font-family: "VT323";

    }

    header{
      height: 25%;
      min-height: 25%;
      width: 75%;
      background-color: rgba(255,255,255,0.7);
      margin: 0 auto;
      padding: 0 auto;
      border: 2px solid red;
    }

    #titre{
      width: 25%;
      box-shadow: -1px 1px 1px 11px red;
      border-radius: 100px;
      margin: 0 auto;
      background-color: white;
    }

    #text {
      background: linear-gradient(-45deg, #6355a4, #6355a4, red, red);
    	background-size: 25%;
      font-family: "VT323";
      font-weight: 500;
    	font-size: 4vw;
    	letter-spacing: -5px;
    	text-transform: uppercase;
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	animation: animated_text 10s ease-in-out infinite;
    	-moz-animation: animated_text 10s ease-in-out infinite;
    	-webkit-animation: animated_text 10s ease-in-out infinite;

    }

    @keyframes animated_text {
    	0% { background-position: 0px 50%; }
    	50% { background-position: 100% 50%; }
    	100% { background-position: 0px 50%; }
    }



    section{
      height: 50%;
      min-height: 25%;
      width: 75%;
      background-color: rgba(255,255,255,0.5);
      margin: 0 auto;
      border: 2px solid red;
    }

    #paralax{
      height: 50%;
      min-height: 25%;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-image: url("space.jpeg");
      color: whitesmoke;
    }

    img{
      height: 25%;
      width: 50%;
    }


    #You{
      height: 450px;
      width: 75%;
    }

  </style>

</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>