@font-face {
  font-family: mickeyenvadrouille;
  src: url(lobster/Lobster1.4.otf);
}



body{
	height: 1024px;
	background-color:  lightcyan;
	

}

nav{
	
	background-color: black;
}



a,
a:link,
a:visited,
a:hover,
a:active{
	
    text-decoration: none;
	color: Yellow;
	
	
}


header{
	/*height: 20%; */
	/*border: 5px solid yellow;*/
	background-color: blue;
	text-align: center;
}






div.homer{
	height: 250px;
	width: 250px;
	margin: 2% 35%;
	background-image: url("homer.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

article{
	text-align:  center;
	margin: 0 auto;
	border:  5px solid red;
	width: 25%;
	text-align: center;
	float:  left;
}

.browser{
	text-align:  center;
	margin: 2%;
	border:  5px solid red;
	width: 25%;
	
}


article:hover{
	background-color: red;
	color:  yellow;
}
section{
	width:  100%;
	margin: 0 auto;
	
}


form{
	margin-bottom: 2%;
}


footer{
	   position:fixed;
	   bottom:0;
	   width:100%;
	   height:10%;   /* Height of the footer */
	   background:#6cf;
	   text-align: center;
	   font-family: mickeyenvadrouille;
}


section{
	background-color:  black;
}

section.classdelasection{
	background-color:  red;
}